// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700&subset=latin-ext');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Material Design
@import '~bootstrap-material-design/scss/bootstrap-material-design';
// Fullcalendar
@import '~fullcalendar/dist/fullcalendar.min.css';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.page-header {
    color: $main-color;
    margin: 14px 0;
}

.breadcrumb {
    background-color: $white;
}
